#about {
    position: relative;
    width: 1440px;
    max-width: 95%;
    height: 600px;
    margin: 30px auto;
    background-color: #efefef;
    overflow: hidden;
}
#about .wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1180px;
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#about .wrapper .camera {
    width: 45%;
}
#about .wrapper .camera img {
    width: 85%;
}
img {
    border: 0;
}

#about .wrapper .blurb {
    width: 55%;
}