.footer{
  #fh5co-footer{
    background: #586E72;
    color: white !important;
    padding: 5em 3em;
  
    h3 {
      font-size: 18px;
      line-height: auto;
      color: white !important;

  }
  a{
    color: white;
    text-decoration: none;
  }

  i{
    font-size: 30px;
    padding-right: 20px;

  }
  
  
  }
  .container-wrap {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 1em;
    background: #fff;
  }
  
}




