$font-primary: 'Source Sans Pro', sans-serif; 
$font-secondary: 'Libre Baskerville', serif;


// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #658361 !default;
$brand-secondary: #007CB9 !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;




.animate-box {
	.js & {
		opacity: 0;
	}
}

.slider-text {
	.slider-text-inner {
	  h1 {
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 1.3;
		font-weight: 300;
	  }
	  h2,
	  h1 {
		margin: 0;
		padding: 0;
		color: white;
		font-family: "Libre Baskerville", serif;
	  }
	}
  }


  h1, h2, h3, h4, h5, h6, figure {
	color: $brand-black;
	font-family: $font-secondary;
	font-weight: 400;
	margin: 0 0 20px 0;
	font-weight: normal;
}
  