$font-primary: 'Source Sans Pro', sans-serif; 
$font-secondary: 'Libre Baskerville', serif;


// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #658361 !default;
$brand-secondary: #007CB9 !default;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;




.animate-box {
	.js & {
		opacity: 0;
	}
}

.slider-text {
	.slider-text-inner {
	  h1 {
		margin-bottom: 20px;
		font-size: 36px;
		line-height: 1.3;
		font-weight: 300;
	  }
	  h2,
	  h1 {
		margin: 0;
		padding: 0;
		color: white;
		font-family: "Libre Baskerville", serif;
	  }
	}
  }


  h1, h2, h3, h4, h5, h6, figure {
	color: $brand-black;
	font-family: $font-secondary;
	font-weight: 400;
	margin: 0 0 20px 0;
	font-weight: normal;
}


.btn{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 20px 30px !important;
    border: none;

    
}


.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    background: #658361;
    color: #fff;
    border: 2px solid #658361;
}