<div class="carousel-section">
  <carousel [isAnimated]="true" [interval]="myInterval">
    <slide>
      <div class="banner-image">
        <img src="https://drive.google.com/uc?id=1W-JrHHefjnjIKlbUEJdz_6pvOr7Jqquj" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="slider-text">
              <div class="slider-text-inner">
                <h1>Living &amp; Sharing the Gospel of God</h1>
               <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
               <p><a class="btn btn-primary btn-demo popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"> <i class="icon-play4"></i> Watch Video</a> <a class="btn btn-primary btn-learn">Join us here! <i class="icon-arrow-right3"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <img src="https://drive.google.com/uc?id=188AFlkyg_zcGSfWA0zCdomOoEVT3VROW" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://drive.google.com/uc?id=1IrnRAMxNjqznaUhoj3qvwXjd5ndmk7vZ" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
<div class="banner-text">
  <div class="row animate-box fadeInUp animated-fast">
    <div class="row animate-box">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="#testdis" >
          <h2>Living in God's Amazing Grace!</h2>
          <span>We are open Sunday to Monday</span>
        </div>
      </div>
    </div>
  </div>
</div>




