<app-video-carousel [itemListData]="itemListData4"></app-video-carousel>
<div class="banner-text-section">
  <div class="row animate-box fadeInUp animated-fast">
    <div class="row animate-box">
      <div class="col-md-12 col-md-offset-0 text-center">
        <h2>Living in God's Amazing Grace!</h2>
        <span>We are open Sunday to Monday</span>
      </div>
    </div>
  </div>
</div>

<app-box-item-list
  [itemListData]="itemListData1"
  numberofItem="4"
></app-box-item-list>

<app-box-list-video [itemListData]="videoListData"></app-box-list-video>

<app-text-carousel> </app-text-carousel>

<app-box-item-list
  [itemListData]="itemListData2"
  numberofItem="4"
></app-box-item-list>