.goal-church-main {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: gray;
  background: url(../assets/images/body-bg.png) repeat fixed;
  display: block;

  .container-wrap {
    max-width: 1060px;
    margin: 0 auto;
    background: #fff;
  }
}
