<div class="goal-church-main">
  <div class="banner">
    <div class="col-md-12 col-offset-0 text-center container-wrap">
      <div id="fh5co-logo"><a href="index.html">Church</a></div>
    </div>
  </div>
  <div class="navigation-bar container-wrap">
    <div class="col-md-12 col-md-offset-0 text-center menu-1">
      <ul>
        <li *ngFor="let item of navlist;index as id" [ngClass]="{'active': id === selectedNavId}">
          <a (click)="clickNavigation(id)" routerLink="/{{ item.src }}">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
