/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Libre+Baskerville&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400;1,700&display=swap");

.slider-text {
  .slider-text-inner {
    h1 {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 1.3;
      font-weight: 300;
    }
    h2,
    h1 {
      margin: 0;
      padding: 0;
      color: white;
      font-family: "Libre Baskerville", serif;
    }
  }
}
