.carousel-section{
    height: 500px;
    background: #fff url(../../assets/images/loader.gif) no-repeat center center;
    width: 100%;
    float: left;

    .banner-image{
        min-height: 396px;
    }
    .carousel-item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 500px;
        position: relative;
    }

    .carousel-caption{
        right: 0%;
        left: 33%;
        padding-top: 1.25rem;
        bottom: 9.25rem;
    }
}

    
